body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background:whitesmoke;
}
header {
    display: block;
    background: #333;
    color: #fff;
    overflow: hidden;
}
header h1 {
    float: left;
    font-size: 1em;
    font-weight: normal;
    padding-left: 1em;
}
header a {
    float: right;
    color: #fff;
    padding-right: 1em;
    font-size: 1em;
    line-height: 3em;
}

section {
    display: block;
    background: #fff;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 10px #ccc;
    margin: 10px;
}

button {
    border: none;
    background: transparent;
}

.action {
    font-size: 1.4em;
    border: none;   
    float: right;
}

/* Progress bar */

#progressbar {
    height: 1em;
    background: linear-gradient(to right, green, yellow, red);
    position: relative;
}
#progressbar div {
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 1em;
    width: 100%;
}
#progressbar.animated div {
    animation: reveal 20s linear;
}

@keyframes reveal {
    from {width: 100%;}
    to {width: 0;}
}


/* Dice field */

/* Roll the dice button */
#roll {
    display: block;
    width: 100%;
    line-height: 3em;
    font-size: 3em;
    color:green;
    border: none;
    text-align: center;
    background: transparent;
}
#roll.throwactive {
    display: none;
}

#rollresults {
    margin: 1em 0;
    text-align: center;
}

#rollresults.hidden {
    display: none;
}

#rollresults button {
    padding: .5em;
    border: none;
}

#die1, #die2, #die3 {
    font-size: 8em;
}

#tomatch {
    font-size: 2.5em;
}

.selected {
    opacity: 0.2;
}

/* Calculator buttons */

#operators {
    text-align: center;
    display: block;
}
#operators.hidden {
    display: none;
}

#operators button {
    border: none;
    margin-left:.1em;
    font-size: 3em;
    background: #eee;
    width: 1.5em;
    line-height: 1.3em;
}
#operators button[data-val="delete"] {
    background: pink;
}
#operators button[data-val="done"] {
    background: lime;
}

/* Error message */

#errorfield {
    background: firebrick;
    color: #fff;
    font-size: 1.5em;
    margin: 5px 0;
    padding: 5px 10px;
    display: block;
}
#errorfield.hidden {
    display: none;
}

/* Calculation result field */ 

#calculation {
    display: block;
    padding: 10px 0;
    font-size: 3em;
    letter-spacing: .2em;
    text-align: center;
}
.error {
    color: red;
}

footer {
    display: block;
    font-size: 0.8em;
    padding-top: 3em;
    text-align: center;
    color: #ccc;
}
footer a {
    color: #999;
}